www.tradepros.live {
	redir https://tradepros.live{uri}
}

tradepros.live {
	encode gzip

	handle /api/* {
		reverse_proxy localhost:1323
	}
	handle {
		root * /var/www/html
		try_files {path} /index.html
		file_server
	}
}