@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    width: 100%;
}

html {
    background-color: theme('colors.background');
}

.navbar-item {
    color: theme('colors.neutral');
}

.navbar-item:hover {
    color: theme('colors.primarydark')
}



